"*":
  core:
    autoHideMenuBar: true
    excludeVcsIgnoredPaths: false
    telemetryConsent: "limited"
    themes: [
      "accents-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "JetBrains Mono"
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "fe593adc-7b3b-4510-b77e-87711032be84"
  fonts:
    fontFamily: "JetBrains Mono"
  welcome:
    showOnStartup: false
